$primary   : #00ADB5;
$secondary : #393E46;
$accent    : #EEEEEE;

$dark      : #222831;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
